
.margin{
    width: 1200px;
    margin: 0 auto;
}

.product_detail_warp{
    background: #f5f5f5;
    .breadcrumbs {
        clear: both;
        height: 44px;
        line-height: 44px;
        color: #999;
        width: 1200px;
        margin: 0 auto;
        ul{
            li{float:left;}
        }
    }
    .Magnifier{
        // height:1200px;
        .left{
            float:left;
            background: #fff;
            .sBox{
                // margin: 10px;
                width: 350px;
                height: 350px;
                position: relative;
                img{
                    // position: absolute;
                    max-width: 350px;
                    max-height: 350px;
                }
                span{
                    width:50px;
                    height:50px;
                    background:rgba(255,255,200,.5);
                    position: absolute;
                    // left:50px;
                    // top:50px;
                    display:none;
                }
            }
            .bBox{
                width:350px;
                height:350px;
                position: absolute;
                top:250px;
                left:500px;
                overflow: hidden;
                display: none; 
                img{
                    width:1150px;
                    height:1150px;
                    position:absolute; 
                }
            }
            .pro_img_more{
                width: 350px;
                height: 78px;
                margin-top: 9px;
                margin-left: 0px;
                a{color: #666;
                    display: block;
                    text-align: center;
                    width: 10px;
                    height: 65px;
                    line-height: 65px;
                    border: 1px solid #eee;
                    background: #f5f5f5;
                    cursor: pointer;
                    text-decoration: none;
                    }
                .prev{
                    float: left;
                    margin-right: 4px;
                }
                .next{
                    float: right;
                }
                .pro_img_moreul{
                    float: left;
                    position: relative;
                    width: 320px;
                    height: 68px;
                    overflow: hidden;
                    ul{
                        position: absolute;
                        width: 999999px;
                        height: 68px;
                        li{
                            width: 64px;
                            height: 64px;
                            padding: 1px;
                            margin-right: 2px;
                            float: left;
                            text-align: center;
                            line-height: 64px;
                            border: 1px #666 solid;
                            img{
                                max-width: 55px;
                                max-height: 55px;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    .right{
        z-index:-1;
        float: left;
        width: 665px;
        margin-left: 4px;
        position: relative;
        padding-top: 10px;
        background: #fff;
        h1{float: left;
        font-weight: normal;}
        .pro_title{
            font-size: 24px;
            color: #333333;
            font-family: \5fae\8f6f\96c5\9ed1, simsun;
            line-height: 30px;
            margin-bottom: 5px;
            margin-top: 8px;
        }
        .box1{
            position: relative;
            float: left;
            width: 665px;
            background: #F9F9F9;
            border-top: 1px #eee solid;
            padding: 2px 0px;
            height: 123px;
            .price_title{
                color: #c53029;
                font-weight: bold;
                font-size: 15px;    
                width:72px;
                margin-top: 8px;
                padding-left:20px;
            }
            .price{
                padding-left:40px;
                display: inline-block;
                margin-left: 5px;
                padding-top: 4px;
                color: #c53029;
                font-size: 26px;
                font-weight: 600;
                vertical-align: baseline;
            }
            .RMB{
                padding-left:20px;
                line-height: 15px;
                margin-top: 10px;
                font-size: 12px;
                color: #999999;
                vertical-align: 5px;
            }
            .links{
                display: block;
                padding-left:20px;
                color: #c53029;
                outline: none;
                cursor: pointer;
                font-size: 16px;
                font-weight: bold;
                padding-top: 20px;
            }  
            .weixin{
                float: right;
                position: absolute;
                right:0;
                top:0;
                text-align:center;
                background: #fff;
                border: 1px #d0d0d0 solid;
                padding:0 15px;
                img{
                    vertical-align: middle;
                    width: 95px;
                    height: 90px;
                }
            }
        }
        .all_warp{
            margin-bottom: 5px;
            color: #666;
            .left{
                border-bottom: 1px dotted #e7e7e7;
                float:left;
                position: relative;
                top: 0;
                left: 0;
                font-size: 14px;
                color: #666;
                padding: 4px 0;
                ._weight{
                    display: inline-block;
                    width: 72px;
                    color: #666666;
                    padding-left: 10px;
                }
                .specs{
                    color: #666;
                    margin-left: 5px;
                }
                .tariff{
                    position: relative;
                    margin-left: 4px;
                    display: inline-block;
                    height: 32px;
                    min-width: 136px;
                    line-height: 32px;
                    border: 1px #fff solid;
                }
                .tariff_rules_text{
                    display: none;
                }   
            }
            }
        }

        .kucun{
            z-index: -1;
            position: relative; 
            text-align: center;
            font-size: 16px;
            .jia{
                position: absolute;
                left:380px;top:313px;
                input{
                    width:50px;
                }
            }

           p{
               position: absolute;
               left:500px;top:300px;
               width:142px;
               height:42px;
               line-height: 42px;
               background:#fff;
               color: #cc3232;
                cursor: pointer;
                border: 1px solid #cc3232;
                font-size: 18px;
                border-radius: 2px;
                &:hover{
                    background: #cc3232;
                    color:#fff;
                    transition:0.3s;;
                }
           }
           .datu{
               position: absolute;
               left:1040px;
               top:0;
           }
        }

    }
}

._find{
    // height:1000px;
    width:1000px;
    background: #fff;
    margin-left:160px;
    float:left; 
    .box{
        background: #eee;
        height:1114px;
    }    
    .cont{display:flex;}
        .cont h3{height:41px;flex:1;;text-align:center;font:16px/41px "";}
		.cont2 p:nth-child(2){background:#9ff;}
		.cont2 p:nth-child(3){background:#f99;}
        .cont2 img{margin-left:100px;}
        p{height:1114px;}
        
        
}



