

#header{
    height:80px;
    width:1004px;
    margin:0 auto;
    color:#333;
    .box1{
        padding-top:20px;
        height:80px;
    .logo{
        
        float:left;
    }
    h1{
        float:left;
        font-size:12px;
        margin-left: 18px;
        border-left: 2px solid #dadada;
        padding-left: 10px;
        margin-top:8px;
    }
    .back{
        float:right;
    }
    }
}

#banner{
    background: url("../images/loginbg2.jpg");
    width: 100%;
    height: 550px;
    background-position: center top;
    font-size: 14px;
    color: #333;
    .banner2{
        width: 1000px;
        margin: 0 auto;
        .biaodan{
            float: right;
            width: 330px;
            background: #fff;
            margin: 30px 0;
            .box1{
                width: 280px;
                margin: 0 auto;
                margin-top: 30px;
                margin-bottom: 30px;
                h3{
                    float:left;
                    width:100px;
                    margin: 0px 0 15px;
                    font-size: 18px;
                    font-weight: normal;
                }
                a{
                    outline: none;
                    cursor: pointer;
                    color: #428bca;
                    float:right;
                    .toLogin{
                        font-size: 14px;
                    }
                }
                form{
                    float:left;
                .form-group{
                    margin: 10px 0;
                    p{
                        display:block;
                        margin-bottom: 5px;
                    }
                    .form-control{
                        display: block;
                        min-width: 260px;
                        height: 30px;
                        padding: 1px 10px;
                        font-size: 14px;
                        line-height: 30px;
                        color: #555;
                        background-color: #fff;
                        background-image: none;
                        border: 1px solid #ccc;
                        border-radius: 0px;
                        float: left;
                    }
                    #btn{
                        margin: 10px 0 10px;
                        padding: 8px 30px;
                        font-size: 14px;
                        border: none;
                        background: #c91623;
                        color: #fff !important;
                        cursor: pointer;
                        text-align: center;
                        border-radius: 2px;
                    }
                }
            }
            }
        }
    }
}

#footer{
    height:200px;
    width:1200px;
    margin:0 auto;
    ul{
        display: flex;
        text-align: center;
        margin: 40px 0 0;
        color: #999;
        justify-content: center;
        li{
            float: left;
            a{
                margin: 0 10px;
                color: #999;
                font-size: 12px;
                &:hover{
                    color:#f00;
                }
            }
        }
    }
    .Copyright{
            text-align: center;
            height: 45px;
            text-align:center;
            font-size: 12px;
            line-height: 45px;
            color: #999;
    }
}


